@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121321;
    color: #fff;
}

.projects{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.projects h4{
    font-size: 25px;
    margin-bottom: 20px;
}

.projects .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.project a{
    color: #a4a1a1;
    text-decoration: none;
}

.project a:hover{
    color: #fff;
}